    <ul class="main-menu">
        <li class='active'><a><span>Function </span><br><span class="setting"></span></a>
            <ul class="options" callback="menuFuncMessage">
                <li item_value="StartAnim"><a>StartAnim</a></li>
                <li item_value="StopAnim"><a>StopAnim</a></li>
            </ul>
        </li>
        <li class='active'><a><span>About </span><br><span class="setting"></span></a>
            <ul class="options" callback="menuAboutMessage">
                <li item_value="StreamMap"><a>StreamMap</a></li>
            </ul>
        </li>
    </ul>